* {
    margin: 0px;
    padding: 0px;
}
html {
    background-color: rgb(214, 255, 252);
}
#navbar {
    display: flex;
    background-color: #73faff;
}
#navbar a {
    text-decoration: none;
    width: 100%;
    height: 60px;
    font-size: 48px;
    border: #000000 solid 1px;
    text-align: center;
}
#navbar a:hover {
    background-color: #00dffc;
}

/* Home pagina */

#ptlogo {
    margin-top: 100px;
    width: 500px;
    height: 400px;
    border: black 3px solid;
}
h1 {
    text-align: center;
}
#motivatie {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;

    position: absolute;
    top: 160px;
    left: 550px;
    height: 125px;
    width: 900px;
    font-size: 20px;
}
#ervaring {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;

    position: absolute;
    top: 330px;
    left: 550px;
    height: 165px;
    width: 900px;
    font-size: 20px;
}

#contact {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;

    position: absolute;
    top: 530px;
    left: 550px;
    height: 75px;
    width: 900px;
    font-size: 20px;
}
#theme-switcher {
    width: 150px;
    height: 50px;
    background-color: #73faff;
    border: 1px solid black;

    margin-top: 540px;
    margin-left: -330px;
    position: absolute;
    outline: none;
}
#theme-switcher:hover {
    animation: change-background forwards 0.4s;
    animation-iteration-count: 1;
}
@keyframes change-background{
    0% {background-color: #73faff; border: 1px solid black;}
    100% {background-color: #54bec2; border: 3px solid black;}
}
.darkTheme {
    background-color: rgb(61, 75, 73);
    color: white;

}
.darkTheme-p {
    background-color: rgb(105, 143, 137);
    border: 1px solid rgb(166, 255, 242);
}

/* Eigenschappen */

#eigenschappen {
background-color: #73faff;
width: 400px;
height: 780px;
font-size: 30px;
border: solid black 1px;
margin-top: 100px;
margin-left: 325px;
}
#eigenschappen ul {
    margin-top: -250px;
}
#eigenschappen li:nth-child(1) {
    margin-top: 250px;
}
#eigenschappen li:nth-child(2) {
    margin-top: 135px;
}
#eigenschappen li:nth-child(3) {
    margin-top: 270px;
}
#eigenschappen h3 {
    background-color: #00f7ff; 
    border-bottom: dashed black 1px;
    margin-top: 0px;
}
#behulpzaamImg {
    border: solid black 1px;
    width: 375px;
    height: 125px;
    position: absolute;
    left: 345px;
    top: 250px;
}
#vriendelijkImg {
    border: solid black 1px;
    width: 375px;
    height: 250px;
    position: absolute;
    left: 345px;
    top: 430px;
}
#rustigImg {
    border: solid black 1px;
    width: 375px;
    height: 200px;
    position: absolute;
    left: 345px;
    top: 730px;
}
#myselfImg {
    position: absolute;
    width: 600px;
    height: 900px;
    border: solid #000000 3px;
    margin-top: 55px;
    margin-left: 850px;
}

/* Ervaring pagina*/

#ervaringTabel {
    border: solid black 2px;
    height: 200px;
    width: 600px;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 100px;
}
#ervaringTabel td{
    border: dashed black 1px;
    border-collapse: collapse;
    background-color: #a9f4f7;
}
#ervaringTabel th {
    border-right: solid black 2px; 
    background-color: #83dde0;
}
#ervaringHTML {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;
    font-size: 20px;

    height: 125px;
    width: 900px;
    position: absolute;
    left: 800px;
    top: 125px;
}
#ervaringJS {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;
    font-size: 20px;

    height: 150px;
    width: 900px;
    position: absolute;
    left: 800px;
    top: 275px;
}
#ervaringCsharp {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;
    font-size: 20px;

    height: 150px;
    width: 900px;
    position: absolute;
    left: 800px;
    top: 450px;
}
#htmlcsslogo {
    border: solid black 1px;
    width: 700px;
    height: 350px;
    margin-top: 25px;
    margin-left: 50px;
}

/* Projecten */

#project {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #73faff;

    position: absolute;
    top: 160px;
    left: 550px;
    height: 120px;
    width: 700px;
    font-size: 20px;

}
#projecten {
    display: flex;
    margin-top: 330px;
    margin-left: 475px;
}
#projecten div {
    height: 200px;
    width: 250px;
    border: solid #000000 1px;
    margin-left: 20px;
    background-color: #73faff;
    text-align: center;
}